.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-element {
     width: 30px;
     height: 30px;
     border-radius: 5px;
     background-color: #203695;
 }